{
  "name": "{{REPO_NAME}}",
  "version": "0.1.0",
  "description": "{{PLUGIN_DESCRIPTION}}",
  "author": {
    "name": "{{OWNER}}",
    "url": "https://github.com/{{OWNER}}"
  },
  "license": "MIT",
  "keywords": ["{{keyword-1}}", "{{keyword-2}}", "{{keyword-3}}"],
  "repository": "https://github.com/{{OWNER}}/{{REPO_NAME}}",
  "homepage": "https://github.com/{{OWNER}}/{{REPO_NAME}}"
}
